#app {

    background-color: Moccasin;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 1024px) and (min-height: 600px) {

    #app {
        height: 100vh;

        display: grid;
        grid-template-columns: 70vw auto;
        grid-template-rows: 5.8rem 3.8rem 15rem auto;
        gap: .5rem .5rem;
    }
}
