:root {

    font-size: 62.5%;

    body {
        font-family: $font-stack;
        font-size: 1.6rem;
        color: $text-color;

        a,
        button {
            color: $text-color;
            font-family: $font-stack;

            text-decoration: none;
        }

        input {
            outline: none;
            color: $text-color;
        }

        li {
            list-style: none;
        }

        * {
            box-sizing: border-box;
        }

    }

    @media (prefers-color-scheme: dark) {
        body {
            color: $sb-select-color;
            a,
            button {
                color: $sb-select-color;
            }
            input {
                color: $sb-select-color;
            }
        }
    }
}
