$font-stack: Atkinson_Hyperlegible,
sans-serif;

$text-color: #222;
$border-color: DimGray;

$bg-color: DarkSeaGreen;
$item-color: LightSteelBlue;
$button-color: Moccasin;
$info-color: IndianRed;
$select-color: Lightblue;

$sb-bg-color: Gainsboro;
$sb-item-color: WhiteSmoke;
$sb-select-color: AntiqueWhite;


@mixin theme($color, $radius) {
    background-color: $color;
    border-radius: $radius;
    border: solid 1px $border-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    margin: .5rem;
    padding: .5rem;
}
