#listpoint {

    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;

    background-color: var(--bg-color);
    border-radius: 1rem 1rem 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    padding: .5rem;
    min-height: 0rem;
    max-height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; // .drag-bar {
    //     height: .5rem;
    //     width: 95%;
    //     box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    // }
    .position {
        // position
        display: none;

        width: 100%;

        border: solid 1px var(--border-color);
        border-radius: 1rem;
        background-color: var(--button-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        font-size: 1.4rem;
        height: 3rem;

        margin: .5rem 0;
        padding: .5rem;

        display: flex;
        justify-content: center;
        align-items: center;

    }



    ul {
        // listpoint
        // padding: .5rem 0 0 0; 
        overflow-y: auto;
        width: 100%;


        li {
            // point
            border: solid 1px var(--border-color);
            border-radius: 1rem;
            background-color: var(--item-color);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

            font-size: 1.4rem;
            height: 3rem;

            margin: .5rem 0;
            padding: .5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .remove {
                color: var(--border-color);
            }
        }

        // li:hover {
        
            //     border: solid 3px var(--border-color);
            //     background-color: var(--select-color);
            //     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            // }

        .selected {
            height: 3.5rem;

            border: solid 3px var(--border-color);
            background-color: var(--select-color);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            margin: .6rem 0;
            padding: .8rem;

        }
    }

    .total {
        //total
        height: 3.5rem;
        width: 100%;

        border: solid 1px var(--border-color);
        border-radius: 1rem;
        background-color: var(--info-color);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        margin: .5rem 0 0 0;
        padding: .5rem;

        font-size: 1.4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            flex-grow: 2;
            text-align: center;
        }

        form {
            display: inline;

            button {
                border: solid 1px var(--border-color);
                border-radius: 1rem;
                background-color: var(--button-color);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

                padding: .25rem 1rem;
            }
        }

    }
}

//tablet
@media screen and (min-width: 600px) and (max-width: 1280px) and (min-height: 540px) and (max-height: 1400px) {

    #listpoint {
        width: 40vw;
        left: auto;
        right: .5rem;
    }
}

//desktop
@media screen and (min-width: 1024px) and (min-height: 600px) {

    #listpoint {
        position: static;
        width: auto; // grid-row-start: 4;
        grid-row-end: end;
        grid-column-start: 2;
        grid-column-end: end;
        align-self: end;

        margin-right: .5rem;
    }
}
