@media screen and (min-width: 480px) and (max-width: 1280px) and (max-height: 1400px) {

    #searchbar {
        width: 40vw;
    }

    #listpoint {
        width: 60vw;
        left: auto;
        right: .5rem;
    }
}

@media screen and (min-width: 1024px) and (min-height: 720px) {

    #app {
        height: 100vh;

        display: grid;
        grid-template-columns: 70vw auto;
        grid-template-rows: 5.8rem 3.8rem 26rem auto;
        gap: .5rem .5rem;

    }

    header {
        position: static;

        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: end;
    }

    #map {
        position: static;
        z-index: auto;
        height: 100%;

        grid-row-start: 2;
        grid-row-end: end;
        grid-column-start: 1;
        grid-column-end: 2;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 1rem;
    }

    #searchbar {
        position: static;
        width: auto;

        grid-row-start: 2;
        grid-row-end: 2 span 3;
        grid-column-start: 2;
        grid-column-end: end;

        margin: 0;
        margin-right: .5rem;

        ul {
            transform: translateY(1rem);
            border-radius: 1rem;


            li {
                height: 2.5rem;
                color: Black;
                background-color: WhiteSmoke;
                margin: .4rem .5rem;
                border-radius: 1rem;
                padding: 1rem .5rem;
                display: flex;
                align-items: center
            }
            li:first-child {
                margin-top: .5rem;
            }
            li:last-child {
                margin-bottom: .5rem;
            }
        }

    }

    #listpoint {
        position: static;
        width: auto;

        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: end;

        margin-right: .5rem;

    }
}
