#routes {

    position: absolute;
    top: 6rem;
    right: .5rem;

    max-width: 80vw;
    min-width: 30vw;



    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
    background-color: var(--sb-bg-color);

    padding: .5rem;





    ul {
        background-color: var(--sb-bg-color); // margin: .5rem .3rem;
        overflow-y: auto;
        max-height: 38vh;

        min-height: 0rem;
        max-height: 20vh;

        li {

            min-height: 2.5rem;
            max-height: 4rem;

            background-color: var(--sb-item-color);
            border-radius: .8rem;

            margin: .5rem 0rem;
            padding: .7rem .3rem;


            display: flex;
            justify-content: space-between;
            align-items: center;

            .label {
                margin-right: 1rem;
            }

            .remove {
                color: transparent;
                padding-right: .5rem;
            }
        }

        li:hover {
            background-color: var(--sb-select-color);
        }

        .selected {
            height: 3.5rem;

            border: solid 3px var(--border-color);
            background-color: var(--sb-select-color);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


            padding: .72rem 0;

            .remove {
                color: var(--border-color);

            }

        }
    }
}

//tablet
@media screen and (min-width: 600px) and (max-width: 1280px) and (min-height: 540px) and (max-height: 1400px) {

    #routes {
        // width: 35vw;
    }
}

//desktop
@media screen and (min-width: 1024px) and (min-height: 600px) {

    #routes {
        position: static;
        width: auto;

        grid-row-start: 2; // grid-row-end: end;
        grid-column-start: 2;
        grid-column-end: end;
        align-self: start;

        margin-right: .5rem; // height: 100%;
        display: flex;



        ul {
            // height: 100%;
            // min-height: 5.7rem;
            max-height: 15rem;
            width: 100%;

            li {
                height: 2.5rem;



                border-radius: 1rem;
                padding: .7rem .5rem;
                margin: .4rem .5rem;



            }

        }

        form {}


    }
}
