#searchbar {

    position: absolute;
    top: 5.6rem;
    right: 0;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 1rem;
    background-color: Gainsboro;

    margin: .5rem;
    padding: .5rem;
    width: 60vw;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    input {
        height: 2.5rem;
        color: Black;
        background-color: WhiteSmoke;
        border-radius: 0.5rem;
        border: none;
        margin: .1rem;
        padding: 1rem .7rem;

    }

    ul {
        background-color: Gainsboro;

        li {
            min-height: 2.5rem;
            max-height: 4rem;

            background-color: WhiteSmoke;
            border-radius: .8rem;
            margin: .5rem .3rem;
            padding: 1rem .5rem;

            display: flex;
            align-items: center
        }
        li:first-child {
            margin-top: 1rem;
        }
        li:last-child {
            margin-bottom: 0;
        }
        li:hover {
            background-color: AntiqueWhite;
            border: solid 1px DimGray;
        }

        span {}
    }




}
