:root {

    font-size: 62.5%;

    body {
        font-family: Atkinson_Hyperlegible, Helvetica, sans-serif;
        font-size: 1.6rem;
        color: var(--text-color);

        * {
            box-sizing: border-box;
        }

        a,
        button {
            color: var(--text-color);
            /* font-family: var(--font-stack); */

            text-decoration: none;
        }

        input {
            outline: none;
            color: var(--text-color);
        }

        li {
            list-style: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        body {
            color: var(--sb-select-color);
            a,
            button {
                color: var(--sb-select-color);
            }
            input {
                color: var(--sb-select-color);
            }
        }
    }
}
