@import "https://meyerweb.com/eric/tools/css/reset/reset.css";
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@font-face {
  font-family: "Atkinson_Hyperlegible";
  src: url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"), url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2"), url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2"), url("fonts/Atkinson-Hyperlegible/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2"), url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff"), url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Bold-102.woff") format("woff"), url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-Italic-102.woff") format("woff"), url("fonts/Atkinson-Hyperlegible/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff") format("woff"), url("fonts/Atkinson-Hyperlegible/TTF/Atkinson-Hyperlegible-Regular-102.ttf") format("ttf"), url("fonts/Atkinson-Hyperlegible/TTF/Atkinson-Hyperlegible-Bold-102.ttf") format("ttf"), url("fonts/Atkinson-Hyperlegible/TTF/Atkinson-Hyperlegible-Italic-102.ttf") format("ttf"), url("fonts/Atkinson-Hyperlegible/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  font-size: 62.5%;
}
:root body {
  font-family: Atkinson_Hyperlegible, sans-serif;
  font-size: 1.6rem;
  color: #222;
}
:root body a,
:root body button {
  color: #222;
  font-family: Atkinson_Hyperlegible, sans-serif;
  text-decoration: none;
}
:root body input {
  outline: none;
  color: #222;
}
:root body li {
  list-style: none;
}
:root body * {
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root body {
    color: AntiqueWhite;
  }
  :root body a,
  :root body button {
    color: AntiqueWhite;
  }
  :root body input {
    color: AntiqueWhite;
  }
}

#app {
  height: 100%;
  width: 100%;
  background-color: Moccasin;
}

@media (prefers-color-scheme: dark) {
  #app {
    background-color: DimGray;
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) {
  #app {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  #app main {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
header {
  position: fixed;
  z-index: 1000;
  top: -2px;
  width: 100%;
  height: 60px;
  background: Lightblue;
  border-radius: 0 0 1rem 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  header {
    background: #222;
    border: solid 1px Lightblue;
    box-shadow: rgba(173, 216, 230, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
header a.title {
  position: relative;
  width: 100%;
  background: DarkSeaGreen;
  border-radius: 0 0 1rem 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  header a.title {
    background: #222;
    border: solid 1px DarkSeaGreen;
    box-shadow: rgba(143, 188, 143, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
header a.title img {
  position: fixed;
  z-index: 2;
  left: 0.5rem;
  height: 4.5rem;
}
header a.title h1 {
  text-align: center;
  color: AntiqueWhite;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  line-height: 5rem;
  text-shadow: 0 0 3px #222;
}
header nav {
  position: fixed;
  top: 0.2rem;
  right: 0.5rem;
  height: 4.8rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav aside {
  z-index: 1;
  transform: translateX(1px);
  height: 4rem;
  background-color: DarkSeaGreen;
  border: solid DarkSeaGreen 5px;
  border-width: 0 5px 0 0;
  border-radius: 5px 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav aside span {
  height: 100%;
  background: Tomato;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  header nav aside span {
    background: #222;
    border: solid 1px Tomato;
    box-shadow: rgba(255, 99, 71, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
header nav menu {
  animation: disappearance 1s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background: LightSteelBlue;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  padding: 0;
  display: flex;
}
@keyframes disappearance {
  from {
    transform: translateX(0.5rem);
  }
  to {
    transform: translateX(25.5rem);
  }
}
@media (prefers-color-scheme: dark) {
  header nav menu {
    background: #222;
    border: solid 1px LightSteelBlue;
    box-shadow: rgba(176, 196, 222, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
header nav menu li {
  width: -moz-fit-content;
  width: fit-content;
  background: Moccasin;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  header nav menu li {
    background: #222;
    border: solid 1px Moccasin;
    box-shadow: rgba(255, 228, 181, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
header nav:hover menu {
  animation: appearance 1s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes appearance {
  from {
    transform: translateX(25.5rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
  header {
    position: static;
  }
  header nav menu,
  header nav:hover menu {
    animation: none;
  }
}
#map {
  background-color: moccasin;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
}
#map .leaflet-top {
  top: 5.3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
#map .leaflet-pane.leaflet-popup-pane {
  font-size: 1.2rem;
}
#map .leaflet-control-layers-expanded {
  margin: 0;
  font-size: 1rem;
}
#map .leaflet-control {
  transform: scale(0.9);
}
#map .leaflet-control-attribution {
  display: none;
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
  #map {
    position: static;
    z-index: unset;
    height: auto;
    width: 70vw;
    background: transparent;
    border-radius: 1rem;
    border: solid 1px DimGray;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    padding: 0;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) and (prefers-color-scheme: dark) {
  #map {
    background: #222;
    border: solid 1px transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) {
  #map .leaflet-top {
    top: 0;
  }
  #map .leaflet-control-attribution {
    display: block;
    font-size: 1rem;
  }
}
#searchbar {
  position: absolute;
  top: 6.3rem;
  right: 0.5rem;
  max-width: 75vw;
  width: -moz-max-content;
  width: max-content;
  background: Gainsboro;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  /*box input*/
  /*results*/
}
@media (prefers-color-scheme: dark) {
  #searchbar {
    background: #222;
    border: solid 1px Gainsboro;
    box-shadow: rgba(220, 220, 220, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#searchbar span {
  display: flex;
  align-items: center;
  /*glass*/
  /*cross*/
}
#searchbar span span.glass {
  display: none;
}
#searchbar span input {
  height: 2.5rem;
  flex-grow: 1;
  background: WhiteSmoke;
  border-radius: 0.5rem 0 0 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 1rem 0 1rem 0.5rem;
}
@media (prefers-color-scheme: dark) {
  #searchbar span input {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#searchbar span span.cross {
  width: 2.5rem;
  height: 2.5rem;
  background: WhiteSmoke;
  border-radius: 0 0.5rem 0.5rem 0;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: Gainsboro;
}
@media (prefers-color-scheme: dark) {
  #searchbar span span.cross {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#searchbar ul {
  display: none;
  background: Gainsboro;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  /*result*/
}
@media (prefers-color-scheme: dark) {
  #searchbar ul {
    background: #222;
    border: solid 1px Gainsboro;
    box-shadow: rgba(220, 220, 220, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#searchbar ul li {
  min-height: 2.5rem;
  background: WhiteSmoke;
  border-radius: 0.8rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  margin: 0.3rem 0rem;
  padding: 0.7rem 0.5rem;
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #searchbar ul li {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#searchbar ul li span {
  height: auto;
  font-size: 1.2rem;
}
#searchbar ul li:hover {
  background: AntiqueWhite;
  border-radius: 0.8rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  margin: 0.3rem 0rem;
  padding: 0.7rem 0.5rem;
}
@media (prefers-color-scheme: dark) {
  #searchbar ul li:hover {
    background: #222;
    border: solid 1px AntiqueWhite;
    box-shadow: rgba(250, 235, 215, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
@media (prefers-color-scheme: dark) {
  #searchbar {
    top: 6.6rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 1280px) and (min-height: 540px) and (max-height: 1400px) {
  #searchbar {
    width: 35vw;
    /*glass*/
  }
  #searchbar span input {
    border-radius: 0;
  }
  #searchbar span span.glass {
    display: inline;
    width: 2.5rem;
    height: 2.5rem;
    background: WhiteSmoke;
    border-radius: 0.5rem 0 0 0.5rem;
    border: solid 1px DimGray;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0.25rem;
    font-size: 2rem;
    color: Gainsboro;
  }
}
@media screen and (min-width: 600px) and (max-width: 1280px) and (min-height: 540px) and (max-height: 1400px) and (prefers-color-scheme: dark) {
  #searchbar span span.glass {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) {
  #searchbar {
    position: static;
    width: 30vw;
    height: 3.5rem;
    margin: 0.5rem;
    /*results*/
  }
  #searchbar ul {
    background: Gainsboro;
    border-radius: 1rem;
    border: solid 1px DimGray;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    margin: 0;
    transform: translateY(1rem);
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) and (prefers-color-scheme: dark) {
  #searchbar ul {
    background: #222;
    border: solid 1px Gainsboro;
    box-shadow: rgba(220, 220, 220, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) {
  #searchbar ul li,
  #searchbar ul li:hover {
    display: flex;
    align-items: center;
  }
}
#routes {
  position: absolute;
  top: 6.2rem;
  right: 0.5rem;
  max-width: 80vw;
  min-width: 30vw;
  background: Gainsboro;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (prefers-color-scheme: dark) {
  #routes {
    background: #222;
    border: solid 1px Gainsboro;
    box-shadow: rgba(220, 220, 220, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#routes ul {
  min-height: 0;
  max-height: 20vh;
  background: Gainsboro;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
@media (prefers-color-scheme: dark) {
  #routes ul {
    background: #222;
    border: solid 1px Gainsboro;
    box-shadow: rgba(220, 220, 220, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#routes ul li {
  min-height: 2.5rem;
  max-height: 4rem;
  background: WhiteSmoke;
  border-radius: 0.8rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  padding: 0.7rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #routes ul li {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#routes ul li .share {
  padding-left: 1rem;
  color: transparent;
}
#routes ul li .label {
  margin: 0 auto;
}
#routes ul li .remove {
  color: transparent;
  padding-right: 1rem;
}
#routes ul li:hover {
  background: AntiqueWhite;
  border-radius: 0.8rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: none;
  border: none;
  padding: 0.7rem 0.3rem;
}
@media (prefers-color-scheme: dark) {
  #routes ul li:hover {
    background: #222;
    border: solid 1px AntiqueWhite;
    box-shadow: rgba(250, 235, 215, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#routes ul .selected,
#routes ul .selected:hover {
  height: 3.5rem;
  background: AntiqueWhite;
  border-radius: 0.8rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-width: 3px;
  padding: 0.72rem 0;
}
@media (prefers-color-scheme: dark) {
  #routes ul .selected,
  #routes ul .selected:hover {
    background: #222;
    border: solid 1px AntiqueWhite;
    box-shadow: rgba(250, 235, 215, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#routes ul .selected .share,
#routes ul .selected .remove,
#routes ul .selected:hover .share,
#routes ul .selected:hover .remove {
  color: DimGray;
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
  #routes {
    position: static;
    width: 30vw;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0.5rem;
    display: flex;
  }
  #routes ul {
    max-height: 30vh;
    width: 100%;
  }
  #routes ul li {
    height: 2.5rem;
    border-radius: 1rem;
    padding: 0.7rem 0.5rem;
    margin: 0.4rem 0.5rem;
  }
}
#listpoint {
  position: absolute;
  bottom: 0;
  right: 1rem;
  left: 1rem;
  z-index: 500;
  background: DarkSeaGreen;
  border-radius: 1rem 1rem 0 0;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /*listpoint*/
}
@media (prefers-color-scheme: dark) {
  #listpoint {
    background: #222;
    border: solid 1px DarkSeaGreen;
    box-shadow: rgba(143, 188, 143, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#listpoint .resize-hitbox {
  position: absolute;
  top: -1.5rem;
  height: 2.5rem;
  width: 100%;
  background-color: Tomato;
}
#listpoint div.position {
  display: none;
  width: 100%;
  height: 3rem;
  background: Moccasin;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #listpoint div.position {
    background: #222;
    border: solid 1px Moccasin;
    box-shadow: rgba(255, 228, 181, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#listpoint div.info {
  display: none;
}
#listpoint div.info p.icon,
#listpoint div.info p.label {
  margin: 0 auto;
  text-align: center;
}
@keyframes growInfoIcon {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 1.8rem;
  }
}
#listpoint div.info p.icon {
  animation: growInfoIcon 0.7s ease-in;
  font-size: 1.8rem;
}
@keyframes growInfoLabel {
  0% {
    font-size: 0rem;
  }
  100% {
    font-size: 1.3rem;
  }
}
#listpoint div.info p.label {
  animation: growInfoLabel 0.7s ease-in;
  font-size: 1.3rem;
}
#listpoint ul {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#listpoint ul li.point {
  width: 100%;
  padding: 0.2rem 0;
  display: flex;
  flex-direction: column;
}
#listpoint ul li.point .up,
#listpoint ul li.point .down {
  display: none;
}
#listpoint ul li.point .label-box {
  min-height: 3rem;
  background: LightSteelBlue;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #listpoint ul li.point .label-box {
    background: #222;
    border: solid 1px LightSteelBlue;
    box-shadow: rgba(176, 196, 222, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#listpoint ul li.point .label-box .label {
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.5rem 1rem;
}
#listpoint ul li.point .label-box .remove {
  display: none;
  padding: 0 0.5rem;
}
#listpoint ul li.point .label-box:hover {
  background: Lightblue;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  #listpoint ul li.point .label-box:hover {
    background: #222;
    border: solid 1px Lightblue;
    box-shadow: rgba(173, 216, 230, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#listpoint ul li.selected {
  z-index: 1;
}
#listpoint ul li.selected .label-box {
  background: Lightblue;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid 3px DimGray;
  margin: 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  #listpoint ul li.selected .label-box {
    background: #222;
    border: solid 1px Lightblue;
    box-shadow: rgba(173, 216, 230, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#listpoint ul li.selected .label-box .label {
  padding: 0.8rem;
}
#listpoint ul li.selected .label-box .remove {
  display: inline;
}
@keyframes growUp {
  0% {
    height: 0;
  }
  100% {
    height: 1rem;
  }
}
@keyframes growDown {
  0% {
    height: 0;
  }
  100% {
    height: 1rem;
  }
}
#listpoint ul li.selected .up,
#listpoint ul li.selected .down {
  animation: none;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#listpoint ul li.selected .up i,
#listpoint ul li.selected .down i {
  font-size: 1rem;
  color: DimGray;
}
#listpoint ul li.selected .up {
  padding: 0.1rem 0 0.2rem 0;
}
#listpoint ul li.selected .down {
  padding-top: 0.3rem;
}
#listpoint ul li.selected:hover .label-box {
  border: solid 3px DimGray;
}
#listpoint ul li.selected:first-child .up {
  display: none;
}
#listpoint ul li.selected:last-child .down {
  display: none;
}
#listpoint div.total {
  height: 3.5rem;
  width: 100%;
  background: Tomato;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0 0 0;
  font-size: 1.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #listpoint div.total {
    background: #222;
    border: solid 1px Tomato;
    box-shadow: rgba(255, 99, 71, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#listpoint div.total span {
  flex-grow: 2;
  text-align: center;
}
#listpoint div.total form {
  display: inline;
}
#listpoint div.total form button {
  display: none;
  background: Moccasin;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  margin: 0;
  padding: 0.25rem 1rem;
}
@media (prefers-color-scheme: dark) {
  #listpoint div.total form button {
    background: #222;
    border: solid 1px Moccasin;
    box-shadow: rgba(255, 228, 181, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}

/*tablet*/
@media screen and (min-width: 425px) and (max-width: 1280px) and (min-height: 540px) and (max-height: 1400px) {
  #listpoint {
    left: auto;
    right: 1rem;
    width: 40.5rem;
    max-height: 60vh;
    margin-left: 1rem;
  }
}
/*desktop*/
@media screen and (min-width: 1024px) and (min-height: 600px) {
  #listpoint {
    position: absolute;
    bottom: 0;
    right: 1rem;
    left: unset;
    z-index: 1;
    width: 29vw;
    max-height: 60vh;
  }
  #listpoint ul li:hover .remove {
    display: inline;
    color: DimGray !important;
  }
  #listpoint ul li:hover .remove:hover {
    color: #222 !important;
  }
  #listpoint ul li.selected .remove {
    display: none !important;
  }
  #listpoint ul li.selected:hover .remove {
    display: inline !important;
  }
}
#modal {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}
#modal .modal-content {
  /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.5s;
  /* Add Animation */
  background: DarkSeaGreen;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@keyframes animatetop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 60vh;
    opacity: 1;
  }
}
@media (prefers-color-scheme: dark) {
  #modal .modal-content {
    background: #222;
    border: solid 1px DarkSeaGreen;
    box-shadow: rgba(143, 188, 143, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#modal .modal-content .cross {
  color: DimGray;
}
#modal .modal-content .cross:hover {
  color: #222;
}
#modal .modal-content fieldset {
  background: LightSteelBlue;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media (prefers-color-scheme: dark) {
  #modal .modal-content fieldset {
    background: #222;
    border: solid 1px LightSteelBlue;
    box-shadow: rgba(176, 196, 222, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#modal .modal-content fieldset legend {
  background: Tomato;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  #modal .modal-content fieldset legend {
    background: #222;
    border: solid 1px Tomato;
    box-shadow: rgba(255, 99, 71, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#modal .modal-content fieldset input {
  background: WhiteSmoke;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
}
@media (prefers-color-scheme: dark) {
  #modal .modal-content fieldset input {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#modal .modal-content fieldset span {
  margin: 0.5rem auto;
  font-size: 1.4rem;
}
#modal .modal-content fieldset p {
  background: WhiteSmoke;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5rem auto;
}
@media (prefers-color-scheme: dark) {
  #modal .modal-content fieldset p {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#modal .modal-content button {
  background: Moccasin;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #modal .modal-content button {
    background: #222;
    border: solid 1px Moccasin;
    box-shadow: rgba(255, 228, 181, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#modal .modal-content button i {
  margin: 0 0.5rem;
}
#modal .modal-content .remove {
  background-color: Tomato;
}

#sign-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: Moccasin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sign-container .sign-form {
  position: static;
  top: 30vh;
  right: 15vw;
  background: DarkSeaGreen;
  border-radius: 1rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (prefers-color-scheme: dark) {
  #sign-container .sign-form {
    background: #222;
    border: solid 1px DarkSeaGreen;
    box-shadow: rgba(143, 188, 143, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#sign-container .sign-form fieldset {
  position: relative;
  background: LightSteelBlue;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media (prefers-color-scheme: dark) {
  #sign-container .sign-form fieldset {
    background: #222;
    border: solid 1px LightSteelBlue;
    box-shadow: rgba(176, 196, 222, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#sign-container .sign-form fieldset legend {
  background: Tomato;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #sign-container .sign-form fieldset legend {
    background: #222;
    border: solid 1px Tomato;
    box-shadow: rgba(255, 99, 71, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#sign-container .sign-form fieldset legend i {
  margin: 0 0.5rem;
}
#sign-container .sign-form fieldset input {
  background: WhiteSmoke;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid 2px #222;
}
@media (prefers-color-scheme: dark) {
  #sign-container .sign-form fieldset input {
    background: #222;
    border: solid 1px WhiteSmoke;
    box-shadow: rgba(245, 245, 245, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#sign-container .sign-form fieldset #tooltip-pw {
  position: absolute;
  top: -1.6rem;
  left: 3.5rem;
  background: #222;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  color: WhiteSmoke;
  display: none;
  flex-direction: column;
  align-content: center;
}
@media (prefers-color-scheme: dark) {
  #sign-container .sign-form fieldset #tooltip-pw {
    background: #222;
    border: solid 1px #222;
    box-shadow: rgba(34, 34, 34, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#sign-container .sign-form fieldset #tooltip-pw .arrow {
  position: absolute;
  bottom: -7px;
  left: 5rem;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #222;
}
#sign-container .sign-form fieldset #tooltip-pw.profil {
  top: -9.3rem;
}
#sign-container .sign-form button {
  background: Moccasin;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #sign-container .sign-form button {
    background: #222;
    border: solid 1px Moccasin;
    box-shadow: rgba(255, 228, 181, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#sign-container .sign-form button i {
  margin: 0 0.5rem;
}
#sign-container .delete-user {
  background: Tomato;
  border-radius: 0.5rem;
  border: solid 1px DimGray;
  box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;
  margin: 0.5rem;
  padding: 0.5rem;
  margin: 2rem 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  #sign-container .delete-user {
    background: #222;
    border: solid 1px Tomato;
    box-shadow: rgba(255, 99, 71, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
#sign-container .delete-user i {
  margin: 0 0.5rem;
}
#sign-container p.error {
  margin: 2rem;
  color: red;
}
#sign-container p.info {
  margin: 2rem;
  color: green;
}

@media (prefers-color-scheme: dark) {
  #sign-container {
    background-color: DimGray;
  }
}
footer {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (min-width: 1024px) and (min-height: 600px) {
  footer {
    display: block;
    width: 70vw;
    height: 3vh;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */