#app {

    height: 100%;
    width: 100%;

    background-color: $button-color;

}

@media (prefers-color-scheme: dark) {

    #app {
        background-color: $border-color;
    }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {

    #app {
        height: 100vh;

        display: flex;
        flex-direction: column;

        main {
            height: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
    }

}
