#sign-container {

    position: absolute;
    width: 100%;
    height: 100%;

    background-color: $button-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sign-form {
        position: static;
        top: 30vh; // left: 15vw;
        right: 15vw;
        @include theme($bg-color, 1rem);
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        fieldset {
            @include theme($item-color, .5rem);

            display: flex;
            flex-direction: column;
            align-content: center;

            legend {
                @include theme($info-color, .5rem);

                display: flex;
                align-items: center;

                i {
                    margin: 0 .5rem;
                }
            }
        }

        input {
            @include theme($sb-item-color, .5rem);
            border: solid 2px $text-color;
        }

        button {
            @include theme($button-color, .5rem);

            width: fit-content;
            padding-left: 1rem;

            display: flex;
            align-items: center;

            i {
                margin: 0 .5rem;
            }
        }
    }

    .delete-user {
        @include theme($info-color, .5rem);

        margin: 2rem .5rem;
        padding: .5rem 1rem;

        text-decoration: none;

        display: flex;
        align-items: center;

        i {
            margin: 0 .5rem;
        }
    }

    p.error {
        margin: 2rem;
        color: red;
    }
    p.info {
        margin: 2rem;
        color: green;
    }


    @media screen and (min-width: 1024px) and (min-height: 600px) {}

}

@media (prefers-color-scheme: dark) {

    #sign-container {
        background-color: $border-color;
    }
}
