@layer framework {
  /* Déclaration explicite de l'ordre des layers */
  @layer reset, base, theme, layout, components, utilities, dark;

  /* Reset CSS moderne */
  @layer reset {

    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    img,
    picture,
    svg,
    video {
      display: block;
      max-width: 100%;
    }

    input,
    textarea,
    button,
    select {
      font: inherit;
    }
  }

  /* Styles de base */
  @layer base {
    :root {
      /* Taille de police fluide */
      font-size: clamp(1rem, 0.5vw + 1rem, 1.25rem);
    }

    body {
      font-family: system-ui, -apple-system, sans-serif;
      line-height: 1.5;
      color: hsl(0 0% 20%);
      background-color: hsl(0 0% 98%);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.2;
      margin-block: 1em;
    }

    a {
      color: hsl(210 100% 40%);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  /* Variables et thème */
  @layer theme {
    :root {
      /* Couleurs */
      --color-primary: hsl(210 100% 40%);
      --color-primary-light: hsl(210 100% 60%);
      --color-secondary: hsl(280 80% 40%);
      --color-success: hsl(120 60% 40%);
      --color-warning: hsl(40 100% 50%);
      --color-error: hsl(0 100% 40%);

      --color-neutral-dark: Gainsboro;
      --color-neutral-light: WhiteSmoke;
      --color-neutral-select: AntiqueWhite;

      --color-text: #222;
      --color-border: DimGray;
    }

    :root {
      /* Taille de texte */
      --text-xxxs: 0.5em;
      --text-xxs: 0.625em;
      --text-xs: 0.75em;
      --text-sm: 0.875em;
      --text-md: 1em;
      --text-lg: 1.125em;
      --text-xl: 1.25em;
      --text-xxl: 1.5em;
      --text-xxxl: 1.75em;
      --text-xxxxl: 2em;
      --text-xxxxxl: 2.5em;


      /* Espacements */
      --spacing-xxxs: 0.125rem;
      --spacing-xxs: 0.1875rem;
      --spacing-xs: 0.25rem;
      --spacing-sm: 0.5rem;
      --spacing-md: 1rem;
      --spacing-lg: 2rem;
      --spacing-xl: 4rem;
      --spacing-xxl: 8rem;
      --spacing-xxxl: 16rem;
      --spacing-xxxxl: 32rem;

      /* Border radius */
      --radius-sm: 0.25rem;
      --radius-md: 0.5rem;
      --radius-lg: 1rem;
      --radius-xl: 1.25rem;

      /* Shadows */
      --shadow-sm: 0 1px 3px hsla(0 0% 0% / 0.1);
      --shadow-md: 0 4px 6px hsla(0 0% 0% / 0.1);
      --shadow-lg: 0 10px 15px hsla(0 0% 0% / 0.1);
      --shadow-xl: 0 20px 25px hsla(0 0% 0% / 0.1);
      --shadow-xxl: 0 40px 50px hsla(0 0% 0% / 0.1);
      --shadow-xxxl: 0 80px 100px hsla(0 0% 0% / 0.1);
      --shadow-xxxxl: 0 160px 200px hsla(0 0% 0% / 0.1);
    }
  }

  /* Layout */
  @layer layout {
    .container {
      width: min(100% - 2rem, 70rem);
      margin-inline: auto;
    }

    .grid {
      display: grid;
      gap: var(--spacing-md);
    }

    @layer flex {

      /* Flex a trier*/
      [class*="flex"] {
        display: flex;
        gap: var(--spacing-md);
      }

      [class*="flex-"][class*="-column"] {
        flex-direction: column;
      }

      .flex-row {
        flex-direction: row;
      }

      .flex-wrap {
        flex-wrap: wrap;
      }

      [class*="flex-"][class*="-center"] {
        align-items: center;
        justify-content: center;
      }

      /* [class*="flex-"][class*="-align-center"] {
                align-items: center;
            }

            [class*="flex-"][class*="-justify-center"] {
                justify-content: center;
            } */

      [class*="flex-"][class*="-space-between"] {
        justify-content: space-between;
      }

      [class*="flex-"][class*="-xxxl"] {
        gap: var(--spacing-xxxl);
      }
    }

    @layer position {

      [class*="position-"][class*="-fixed"] {
        position: fixed;
      }

      [class*="position-"][class*="-relative"] {
        position: relative;
      }

      [class*="position-"][class*="-sticky"] {
        position: sticky;
      }

      [class*="position-"][class*="-bottom"] {
        bottom: 0;
      }

      [class*="position-"][class*="-top-md"] {
        top: var(--spacing-md);
      }

      [class*="position-"][class*="-top-xl"] {
        top: var(--spacing-xl);
      }

      [class*="position-"][class*="-right-md"] {
        right: var(--spacing-md);
      }

      [class*="position-"][class*="-right-xl"] {
        right: var(--spacing-xl);
      }
    }

    @layer z-index {
      .z-10 {
        z-index: 10;
      }

      .z-20 {
        z-index: 20;
      }

      .z-30 {
        z-index: 30;
      }

      .z-40 {
        z-index: 40;
      }

      .z-50 {
        z-index: 50;
      }
    }

    @layer width {
      .width-full {
        width: 100%;
      }

      .width-100vw {
        width: 100vw;
      }

    }

    @layer height {
      .height-full {
        height: 100%;
      }

      .height-100vh {
        height: 100vh;
      }
    }

    @layer display {

      .top {
        border-top: none !important;
        margin-top: 0 !important;
        /* padding-top: 0 !important; */
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }

      .bottom {
        border-bottom: none !important;
        margin-bottom: 0 !important;
        /* padding-bottom: 0 !important; */
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }

  }

  /* Composants */
  @layer components {

    .card {
      padding: var(--spacing-md);
      border-radius: var(--radius-md);
      background-color: white;
      box-shadow: var(--shadow-sm);
    }

    .alert {
      padding: var(--spacing-md);
      border-radius: var(--radius-sm);
      border-left: 4px solid var(--color-primary);
    }

    .alert--success {
      border-color: var(--color-success);
      background-color: hsl(120 60% 97%);
    }

    .alert--warning {
      border-color: var(--color-warning);
      background-color: hsl(40 100% 97%);
    }

    .alert--error {
      border-color: var(--color-error);
      background-color: hsl(0 100% 97%);
    }
  }

  /* Utilitaires */
  @layer utilities {

    @layer text {

      @layer align {
        [class*="text-"][class*="-left"] {
          text-align: left;
        }

        [class*="text-"][class*="-center"] {
          text-align: center;
        }

        [class*="text-"][class*="-right"] {
          text-align: right;
        }
      }

      @layer style {
        [class*="text-"][class*="-bold"] {
          font-weight: bold;
        }

        [class*="text-"][class*="-italic"] {
          font-style: italic;
        }

        [class*="text-"][class*="-underline"] {
          text-decoration: underline;
        }

        [class*="text-"][class*="-line-through"] {
          text-decoration: line-through;
        }

        [class*="text-"][class*="-uppercase"] {
          text-transform: uppercase;
        }

        [class*="text-"][class*="-lowercase"] {
          text-transform: lowercase;
        }

        [class*="text-"][class*="-capitalize"] {
          text-transform: capitalize;
        }

        [class*="text-"][class*="-nowrap"] {
          white-space: nowrap;
        }

      }

      @layer size {
        [class*="text-"][class*="-xxxs"] {
          font-size: var(--text-xxxs);
        }

        [class*="text-"][class*="-xxs"] {
          font-size: var(--text-xxs);
        }

        [class*="text-"][class*="-xs"] {
          font-size: var(--text-xs);
        }

        [class*="text-"][class*="-sm"] {
          font-size: var(--text-sm);
        }

        [class*="text-"][class*="-md"] {
          font-size: var(--text-md);
        }

        [class*="text-"][class*="-lg"] {
          font-size: var(--text-lg);
        }

        [class*="text-"][class*="-xl"] {
          font-size: var(--text-xl);
        }

        [class*="text-"][class*="-xxl"] {
          font-size: var(--text-xxl);
        }

        [class*="text-"][class*="-xxxl"] {
          font-size: var(--text-xxxl);
        }

        [class*="text-"][class*="-xxxxl"] {
          font-size: var(--text-xxxxl);
        }

        [class*="text-"][class*="-xxxxxl"] {
          font-size: var(--text-xxxxxl);
        }

      }

      @layer color {
        [class*="text-"][class*="-primary"] {
          color: var(--color-primary);
        }

        [class*="text-"][class*="-warning"] {
          color: var(--color-warning);
        }

        [class*="text-"][class*="-dark"] {
          color: var(--color-text);
        }

        [class*="text-"][class*="-border"] {
          color: var(--color-border);
        }

        [class*="text-"][class*="-neutral"][class*="-light"] {
          color: var(--color-neutral-light);
        }

        [class*="text-"][class*="-neutral"][class*="-dark"] {
          color: var(--color-neutral-dark);
        }
      }

      @layer shadow {
        [class*="text-"][class*="-shadow"] {
          text-shadow: 0 0 3px var(--color-text);
        }
      }
    }

    @layer color {

      @layer bg-color {

        .bg-primary {
          background-color: var(--color-primary);
        }

        .bg-primary-light {
          background-color: var(--color-primary-light);
        }

        .bg-warning {
          background-color: var(--color-warning);
        }

        .bg-success {
          background-color: var(--color-success);
        }

        .bg-error {
          background-color: var(--color-error);
        }

        .bg-neutral-dark {
          background-color: var(--color-neutral-dark);
        }

      }

    }

    @layer margin {

      .marging-none {
        margin: 0;
      }

      .marging-xs {
        margin: var(--spacing-xs);
      }

      .marging-sm {
        margin: var(--spacing-sm);
      }

      .marging-md {
        margin: var(--spacing-md);
      }

      .marging-lg {
        margin: var(--spacing-lg);
      }

      .marging-xl {
        margin: var(--spacing-xl);
      }

      .marging-xxl {
        margin: var(--spacing-xxl);
      }

      .marging-xxxl {
        margin: var(--spacing-xxxl);
      }

      .marging-xxxxl {
        margin: var(--spacing-xxxxl);
      }

      @layer top {
        .mt-xs {
          margin-top: var(--spacing-xs);
        }

        .mt-sm {
          margin-top: var(--spacing-sm);
        }

        .mt-md {
          margin-top: var(--spacing-md);
        }

        .mt-lg {
          margin-top: var(--spacing-lg);
        }

        .mt-xl {
          margin-top: var(--spacing-xl);
        }

        .mt-xxl {
          margin-top: var(--spacing-xxl);
        }

        .mt-xxxl {
          margin-top: var(--spacing-xxxl);
        }

        .mt-xxxxl {
          margin-top: var(--spacing-xxxxl);
        }
      }

      @layer bottom {
        .mb-xs {
          margin-bottom: var(--spacing-xs);
        }

        .mb-sm {
          margin-bottom: var(--spacing-sm);
        }

        .mb-md {
          margin-bottom: var(--spacing-md);
        }

        .mb-lg {
          margin-bottom: var(--spacing-lg);
        }

        .mb-xl {
          margin-bottom: var(--spacing-xl);
        }

        .mb-xxl {
          margin-bottom: var(--spacing-xxl);
        }

        .mb-xxxl {
          margin-bottom: var(--spacing-xxxl);
        }

        .mb-xxxxl {
          margin-bottom: var(--spacing-xxxxl);
        }
      }

    }

    @layer padding {

      .padding-none {
        padding: 0;
      }

      .padding-xs {
        padding: var(--spacing-xs);
      }

      .padding-sm {
        padding: var(--spacing-sm);
      }

      .padding-md {
        padding: var(--spacing-md);
      }

      .padding-lg {
        padding: var(--spacing-lg);
      }

      .padding-xl {
        padding: var(--spacing-xl);
      }

      .padding-xxl {
        padding: var(--spacing-xxl);
      }

      .padding-xxxl {
        padding: var(--spacing-xxxl);
      }

      .padding-xxxxl {
        padding: var(--spacing-xxxxl);
      }

      @layer top {
        .pt-xs {
          padding-top: var(--spacing-xs);
        }

        .pt-sm {
          padding-top: var(--spacing-sm);
        }

        .pt-md {
          padding-top: var(--spacing-md);
        }

        .pt-lg {
          padding-top: var(--spacing-lg);
        }

        .pt-xl {
          padding-top: var(--spacing-xl);
        }

        .pt-xxl {
          padding-top: var(--spacing-xxl);
        }

        .pt-xxxl {
          padding-top: var(--spacing-xxxl);
        }

        .pt-xxxxl {
          padding-top: var(--spacing-xxxxl);
        }
      }

      @layer bottom {
        .pb-xs {
          padding-bottom: var(--spacing-xs);
        }

        .pb-sm {
          padding-bottom: var(--spacing-sm);
        }

        .pb-md {
          padding-bottom: var(--spacing-md);
        }

        .pb-lg {
          padding-bottom: var(--spacing-lg);
        }

        .pb-xl {
          padding-bottom: var(--spacing-xl);
        }

        .pb-xxl {
          padding-bottom: var(--spacing-xxl);
        }

        .pb-xxxl {
          padding-bottom: var(--spacing-xxxl);
        }

        .pb-xxxxl {
          padding-bottom: var(--spacing-xxxxl);
        }
      }

    }

    @layer border-radius {

      .border-radius-sm {
        border-radius: var(--radius-sm);
      }

      .border-radius-md {
        border-radius: var(--radius-md);
      }

      .border-radius-lg {
        border-radius: var(--radius-lg);
      }

      .border-radius-xl {
        border-radius: var(--radius-xl);
      }

      .border-radius-full {
        border-radius: var(--radius-full);
      }

      .border-radius-none {
        border-radius: var(--radius-none);
      }

      .border-radius-circle {
        border-radius: var(--radius-circle);
      }

      .border-radius-pill {
        border-radius: var(--radius-pill);
      }

      .border-radius-square {
        border-radius: var(--radius-square);
      }

      .border-radius-rounded {
        border-radius: var(--radius-rounded);
      }

      .border-radius-rounded-sm {
        border-radius: var(--radius-rounded-sm);
      }

      .border-radius-rounded-md {
        border-radius: var(--radius-rounded-md);
      }

      .border-radius-rounded-lg {
        border-radius: var(--radius-rounded-lg);
      }

      .border-radius-rounded-xl {
        border-radius: var(--radius-rounded-xl);
      }

      .border-radius-rounded-full {
        border-radius: var(--radius-rounded-full);
      }

      .border-radius-rounded-none {
        border-radius: var(--radius-rounded-none);
      }

      .border-radius-rounded-circle {
        border-radius: var(--radius-rounded-circle);
      }

      .border-radius-rounded-pill {
        border-radius: var(--radius-rounded-pill);
      }

      .border-radius-rounded-square {
        border-radius: var(--radius-rounded-square);
      }
    }

    @layer shadow {
      .shadow-sm {
        box-shadow: var(--shadow-sm);
      }

      .shadow-md {
        box-shadow: var(--shadow-md);
      }

      .shadow-lg {
        box-shadow: var(--shadow-lg);
      }

      .shadow-xl {
        box-shadow: var(--shadow-xl);
      }

      .shadow-xxl {
        box-shadow: var(--shadow-xxl);
      }

      .shadow-xxxl {
        box-shadow: var(--shadow-xxxl);
      }

      .shadow-xxxxl {
        box-shadow: var(--shadow-xxxxl);
      }

      .shadow-xxxxxl {
        box-shadow: var(--shadow-xxxxxl);
      }


    }




    /* Flexibilité */
    .flex-1 {
      flex: 1;
    }

    .flex-grow {
      flex-grow: 1;
    }

    .flex-shrink {
      flex-shrink: 1;
    }
  }




  /* Styles pour le mode sombre */
  @layer dark {
    @media (prefers-color-scheme: dark) {
      @layer theme {
        :root {
          --color-primary: hsl(210 100% 60%);
          --color-primary-light: hsl(210 100% 70%);
        }
      }

      @layer base {
        body {
          color: hsl(0 0% 90%);
          background-color: hsl(0 0% 10%);
        }
      }

      @layer components {
        .card {
          background-color: hsl(0 0% 15%);
        }
      }
    }
  }
}