#searchbar {
    position: absolute;
    top: 6.3rem;
    right: .5rem;
    z-index: 500;

    max-width: 75vw;
    width: max-content;

    border: solid 1px var(--border-color);
    box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

    margin: 0.5rem;
    padding: 0.5rem;

    @media (prefers-color-scheme: dark) {

        background: var(--text-color);
        border: solid 1px var(--sb-bg-color);
        /* box-shadow: rgba(var(--sb-bg-color), 0.35) 0px -50px 36px -28px inset;  */
        box-shadow: rgba(var(--sb-bg-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    background: var(--sb-bg-color);
    border-radius: 1rem;
    border: none;

    margin: 0;

    display: flex;
    flex-direction: column;
    align-content: center;

    /*box input*/
    span {
        display: flex;
        align-items: center;

        /*glass*/
        span.glass {
            display: none;
        }

        input {
            height: 2.5rem;
            flex-grow: 1;

            border: solid 1px var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

            margin: 0.5rem;
            padding: 0.5rem;

            @media (prefers-color-scheme: dark) {

                background: var(--text-color);
                border: solid 1px var(--sb-item-color);
                /* box-shadow: rgba(var(--sb-item-color), 0.35) 0px -50px 36px -28px inset;  */
                box-shadow: rgba(var(--sb-item-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            background: var(--sb-item-color);
            border-radius: 0.5rem 0 0 0.5rem;
            box-shadow: none;
            border: none;

            margin: 0;
            padding: 1rem 0 1rem 0.5rem;
        }

        /*cross*/
        span.cross {
            width: 2.5rem;
            height: 2.5rem;

            border: solid 1px var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

            margin: 0.5rem;
            padding: 0.5rem;

            @media (prefers-color-scheme: dark) {

                background: var(--text-color);
                border: solid 1px var(--sb-item-color);
                /* box-shadow: rgba(var(--sb-item-color), 0.35) 0px -50px 36px -28px inset;  */
                box-shadow: rgba(var(--sb-item-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            background: var(--sb-item-color);
            border-radius: 0 0.5rem 0.5rem 0;
            box-shadow: none;
            border: none;

            margin: 0;
            padding: 0;

            font-size: 2rem;
            color: var(--sb-bg-color);
        }
    }

    /*results*/
    ul {
        display: none;

        border: solid 1px var(--border-color);
        box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

        margin: 0.5rem;
        padding: 0.5rem;

        @media (prefers-color-scheme: dark) {

            background: var(--text-color);
            border: solid 1px var(--sb-bg-color);
            /* box-shadow: rgba(var(--sb-bg-color), 0.35) 0px -50px 36px -28px inset;  */
            box-shadow: rgba(var(--sb-bg-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }

        background: var(--sb-bg-color);
        border-radius: 0.5rem;
        border: none;
        box-shadow: none;

        margin: 0;
        padding: 0;

        /*result*/
        li {
            min-height: 2.5rem;

            border: solid 1px var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

            margin: 0.5rem;
            padding: 0.5rem;

            @media (prefers-color-scheme: dark) {

                background: var(--text-color);
                border: solid 1px var(--sb-item-color);
                /* box-shadow: rgba(var(--sb-item-color), 0.35) 0px -50px 36px -28px inset;  */
                box-shadow: rgba(var(--sb-item-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            background: var(--sb-item-color);
            border-radius: 0.8rem;
            box-shadow: none;
            border: none;

            margin: 0.3rem 0rem;
            padding: 0.7rem 0.5rem;

            display: flex;
            align-items: center;

            span {
                height: auto;
                font-size: 1.2rem;
            }

        }

        li:hover {
            border: solid 1px var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

            margin: 0.5rem;
            padding: 0.5rem;

            @media (prefers-color-scheme: dark) {

                background: var(--text-color);
                border: solid 1px var(--sb-select-color);
                /* box-shadow: rgba(var(--sb-select-color), 0.35) 0px -50px 36px -28px inset;  */
                box-shadow: rgba(var(--sb-select-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            background: var(--sb-select-color);
            border-radius: 0.8rem;
            box-shadow: none;
            border: none;

            margin: 0.3rem 0rem;
            padding: 0.7rem 0.5rem;
        }


    }

    @media (prefers-color-scheme: dark) {
        top: 6.6rem;
    }
}

/* tablet */
@media screen and (min-width: 600px) and (max-width: 1280px) and (min-height: 540px) and (max-height: 1400px) {

    #searchbar {
        width: 35vw;

        /*glass*/
        span {

            input {
                border-radius: 0;
            }

            span.glass {
                display: inline;

                width: 2.5rem;
                height: 2.5rem;

                border: solid 1px var(--border-color);
                box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

                margin: 0.5rem;
                padding: 0.5rem;

                @media (prefers-color-scheme: dark) {

                    background: var(--text-color);
                    border: solid 1px var(--sb-item-color);
                    /* box-shadow: rgba(var(--sb-item-color), 0.35) 0px -50px 36px -28px inset;  */
                    box-shadow: rgba(var(--sb-item-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }

                background: var(--sb-item-color);
                border-radius: 0.5rem 0 0 0.5rem;
                box-shadow: none;
                border: none;

                margin: 0;
                padding: 0.25rem;

                font-size: 2rem;
                color: var(sb-bg-color);
            }
        }


    }
}

/* desktop */
@media screen and (min-width: 1024px) and (min-height: 600px) {

    #searchbar {
        position: static;
        width: 30vw;
        height: 3.5rem;

        margin: .5rem;

        /*results*/
        ul {
            border: solid 1px var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

            margin: 0.5rem;
            padding: 0.5rem;

            @media (prefers-color-scheme: dark) {

                background: var(--text-color);
                border: solid 1px var(--sb-bg-color);
                /* box-shadow: rgba(var(--sb-bg-color), 0.35) 0px -50px 36px -28px inset;  */
                box-shadow: rgba(var(--sb-bg-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            background: var(--sb-bg-color);
            border-radius: 1rem;
            border: none;

            margin: 0;

            transform: translateY(1rem);

            li,
            li:hover {
                display: flex;
                align-items: center
            }

        }
    }
}