#sign-container {

    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;

    background-color: var(--button-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sign-form {
        position: static;
        top: 30vh;
        /* left: 15vw; */
        right: 15vw;
        border: solid 1px var(--border-color);
        box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

        margin: 0.5rem;
        padding: 0.5rem;

        @media (prefers-color-scheme: dark) {

            background: var(--text-color);
            border: solid 1px var(--bg-color);
            /* box-shadow: rgba(var(--bg-color), 0.35) 0px -50px 36px -28px inset;  */
            box-shadow: rgba(var(--bg-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }

        background: var(--bg-color);
        border-radius: 1rem;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        fieldset {
            position: relative;

            border: solid 1px var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

            margin: 0.5rem;
            padding: 0.5rem;

            @media (prefers-color-scheme: dark) {

                background: var(--text-color);
                border: solid 1px var(--item-color);
                /* box-shadow: rgba(var(--item-color), 0.35) 0px -50px 36px -28px inset;  */
                box-shadow: rgba(var(--item-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            background: var(--item-color);
            border-radius: 0.5rem;

            display: flex;
            flex-direction: column;
            align-content: center;

            legend {
                border: solid 1px var(--border-color);
                box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

                margin: 0.5rem;
                padding: 0.5rem;

                @media (prefers-color-scheme: dark) {

                    background: var(--text-color);
                    border: solid 1px var(--info-color);
                    /* box-shadow: rgba(var(--info-color), 0.35) 0px -50px 36px -28px inset;  */
                    box-shadow: rgba(var(--info-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }

                background: var(--info-color);
                border-radius: 0.5rem;

                display: flex;
                align-items: center;

                i {
                    margin: 0 .5rem;
                }
            }

            input {
                border: solid 1px var(--border-color);
                box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

                margin: 0.5rem;
                padding: 0.5rem;

                @media (prefers-color-scheme: dark) {

                    background: var(--text-color);
                    border: solid 1px var(--sb-item-color);
                    /* box-shadow: rgba(var(--sb-item-color), 0.35) 0px -50px 36px -28px inset;  */
                    box-shadow: rgba(var(--sb-item-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }

                background: var(--sb-item-color);
                border-radius: 0.5rem;
                border: solid 2px var(--text-color);
            }

            #tooltip-pw {


                position: absolute;
                top: -1.6rem;
                left: 3.5rem;

                border: solid 1px var(--border-color);
                box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

                margin: 0.5rem;
                padding: 0.5rem;

                @media (prefers-color-scheme: dark) {

                    background: var(--text-color);
                    border: solid 1px var(--text-color);
                    /* box-shadow: rgba(var(--text-color), 0.35) 0px -50px 36px -28px inset;  */
                    box-shadow: rgba(var(--text-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                }

                background: var(--text-color);
                border-radius: 0.5rem;
                color: var(--sb-item-color);

                display: none;
                flex-direction: column;
                align-content: center;

                .arrow {
                    position: absolute;
                    bottom: -7px;
                    left: 5rem;

                    height: 0;
                    width: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 8px solid var(--text-color);

                }
            }

            #tooltip-pw.profil {
                top: -9.3rem;
            }
        }

        button {
            border: solid 1px var(--border-color);
            box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

            margin: 0.5rem;
            padding: 0.5rem;

            @media (prefers-color-scheme: dark) {

                background: var(--text-color);
                border: solid 1px var(--button-color);
                /* box-shadow: rgba(var(--button-color), 0.35) 0px -50px 36px -28px inset;  */
                box-shadow: rgba(var(--button-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            background: var(--button-color);
            border-radius: 0.5rem;

            width: fit-content;
            padding-left: 1rem;

            display: flex;
            align-items: center;

            i {
                margin: 0 .5rem;
            }
        }
    }

    .delete-user {
        border: solid 1px var(--border-color);
        box-shadow: rgba(50, 50, 93, 0.5) 0px 2px 5px -1px, rgba(0, 0, 0, 0.53) 0px 1px 3px -1px;

        margin: 0.5rem;
        padding: 0.5rem;

        @media (prefers-color-scheme: dark) {

            background: var(--text-color);
            border: solid 1px var(--item-color);
            /* box-shadow: rgba(var(--item-color), 0.35) 0px -50px 36px -28px inset;  */
            box-shadow: rgba(var(--item-color, 0.25)) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }

        background: var(--info-color);
        border-radius: 0.5rem;

        margin: 2rem 0.5rem;
        padding: 0.5rem 1rem;

        text-decoration: none;

        display: flex;
        align-items: center;

        i {
            margin: 0 .5rem;
        }
    }

    p.error {
        margin: 2rem;
        color: red;
    }

    p.info {
        margin: 2rem;
        color: green;
    }




}

@media (prefers-color-scheme: dark) {

    #sign-container {
        background-color: var(--border-color);
    }
}

/* tablet */
@media screen and (min-width: 600px) and (max-width: 1280px) and (min-height: 540px) and (max-height: 1400px) {}

/* desktop */
@media screen and (min-width: 1024px) and (min-height: 600px) {}